<!DOCTYPE html>
<html dir="ltr" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../../assets/images/favicon.png">
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap" rel="stylesheet">
    <title>Креирање субјеката</title>
    <!-- Custom CSS -->
    <link href="../../assets/libs/flot/css/float-chart.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../dist/css/style.min.css" rel="stylesheet">
    <link href="../../css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body  style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif; font-family: 'Maven Pro', sans-serif;">
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
        <div class="lds-ripple" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" >
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin5" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif; ">
            <nav class="navbar top-navbar navbar-expand-md "  style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
                <div class="navbar-header" data-logobg="skin5" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" 
                    href="javascript:void(0)"><i class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <a class="navbar-brand" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;"  >
                        <!-- Logo icon -->
                        <b class="logo-icon p-l-10" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
                            <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                            <!-- Dark Logo icon -->
                            <img src="/images/srce.jpg" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif; margin-top: 4px;"
                             alt="homepage" width="100px" class="light-logo" />
                           
                        </b>
                      
                    </a>
  
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent" data-navbarbg="skin5"
                style="background-color:white; font-family: 'Maven Pro', sans-serif;">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto"
                    style="background-color:lightgrey; font-family: 'Maven Pro', sans-serif;">
                        <li class="nav-item d-none d-md-block"><a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar"><i class="mdi mdi-menu font-24"></i></a></li>
                        <!-- ============================================================== -->
                        <!-- create new -->
                        <!-- ============================================================== -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             <span style="font-family: 'Maven Pro', sans-serif;" class="d-none d-md-block text-dark">КРЕИРАЈ  <i class="fa fa-angle-down"></i></span>
                             <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>   
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="/admin/create">Координатора</a>
                                <a class="dropdown-item" href="/admin/create/subject">Остале субјекте</a>
                            
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar"  data-sidebarbg="skin5" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav" style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;">
                    <ul id="sidebarnav" class="p-t-30" >
                        <li class="sidebar-item"> 
                            <a class="sidebar-link" 
                            style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;" href="/admin" aria-expanded="false">
                            <i class="mdi mdi-view-dashboard active"></i><span class="hide-menu">Насловна</span></a></li>
                            <li class="sidebar-item"> 
                                <a class="sidebar-link "
                                style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;" href="/koordinator" aria-expanded="false">
                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Координатори</span></a></li>     
                                <li class="sidebar-item"> 
                                    <a class="sidebar-link" 
                                    style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;"href="/koordinator" aria-expanded="false">
                                    <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Чланови</span></a></li>     
                                    <li class="sidebar-item"> 
                                        <a class="sidebar-link"
                                        style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;" href="/koordinator" aria-expanded="false">
                                        <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Пријатељи
                                        </span></a></li>     
                                        <li class="sidebar-item"> 
                                            <a class="sidebar-link"
                                            style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;" href="/koordinator" aria-expanded="false">
                                            <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Остали субјекти</span></a></li>     
                                            <li class="sidebar-item"> 
                                                <a class="sidebar-link"
                                                style="background-color:#A2242F; font-family: 'Maven Pro', sans-serif;" href="/koordinator" aria-expanded="false">
                                                <i class="mdi mdi-view-dashboard"></i><span class="hide-menu">Статистика</span></a></li>     
                                                           
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb" style="margin-top: 2%;">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Лични подаци</h4>
            
                    </div>
                </div>
            </div>
     <div class="container-fluid">
         
         <div class="row">
            <div class="col-12">
            <form class="" method="POST" action="/admin/create/saveCord">
                   <div class="form-group" >
                     
                        <select name="role" class="form-control" >
                            <option>Секције:</option>
                            <option value="Музичка  секција">Музичка секција</option>
                            <option value="Грађевинска  секција">Грађевинска секција</option>
                            <option value="Спортска  секција">Спортска секција</option>
                            <option value="Еколошка  секција">Еколошка секција</option>
                            <option value="Туристичка  секција">Туристичка секција</option>
                            <option value="Језичка  секција" >Језичка секција</option>
                            <option value="Медицинска  секција">Медицинска секција</option>
                
                        </select>
                    </div>
                    <div class="card-body">
                   
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-left control-label col-form-label">Датум</label>
                            <div class="col-sm-9">
                                <input type="date" name="date" class="form-control" id="fname" placeholder="Датум креирања">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-left control-label col-form-label">Координатор</label>
                            <div class="col-sm-9">
                                <input type="text" name="name" class="form-control" id="fname" placeholder="Име и презиме">
                            </div>
                        </div>
                
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-left control-label col-form-label">Адреса</label>
                            <div class="col-sm-9">
                                <input type="text" name="address" class="form-control" id="lname" placeholder="Адреса становања">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email1" class="col-sm-3 text-left control-label col-form-label">Мејл</label>
                            <div class="col-sm-9">
                                <input type="text" name="mail" class="form-control" id="email1" placeholder="Мејл адреса">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-left control-label col-form-label">Телефон</label>
                            <div class="col-sm-9">
                                <input type="text" name="fix" class="form-control" id="cono1" placeholder="Фиксни телефон">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="cono1" class="col-sm-3 text-left control-label col-form-label">Телефон</label>
                            <div class="col-sm-9">
                                <input type="text" name="mobil" class="form-control" id="cono1" placeholder="Мобилни телефон">
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <label for="fname" class="col-sm-3 text-left control-label col-form-label">БЛК</label>
                            <div class="col-sm-9">
                                <input type="text" name="person" class="form-control" id="fname" placeholder="Број личне карте">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-left control-label col-form-label">ЈМБГ</label>
                            <div class="col-sm-9">
                                <input type="text" name="number" class="form-control" id="lname" placeholder="Матични број">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="lname" class="col-sm-3 text-left control-label col-form-label">Занимање</label>
                            <div class="col-sm-9">
                                <input type="text" name="job" class="form-control" id="lname" placeholder="Област рада">
                            </div>
                        </div>
                       
                        <div class="form-group row">
                            <label  class="col-sm-3 text-left control-label col-form-label" for="">Напомена</label>
                            <textarea style="margin-left:2% ;" name="note" id="" cols="90" rows="3"></textarea>
                            </div>
                      </div>
                      
                  <button type="submit" style="background-color:#A2242F ;" class="btn btn-primary form-control">Сачувај</button>

                      </form>
            </div></div>
                    </div>
                 
               
             </div>
        </div>
        <footer class="footer text-center">
            Сва права задржана<a href="https://wrappixel.com">
<b  style=" font-family: 'Maven Pro', sans-serif;" class="text-danger">ТодаБогдаВеб</b></a>.
          </footer>
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="../../assets/libs/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="../../assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="../../assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="../../assets/extra-libs/sparkline/sparkline.js"></script>
    <!--Wave Effects -->
    <script src="../../dist/js/waves.js"></script>
    <!--Menu sidebar -->
    <script src="../../dist/js/sidebarmenu.js"></script>
    <!--Custom JavaScript -->
    <script src="../../dist/js/custom.min.js"></script>
    <!--This page JavaScript -->
    <!-- <script src="../../dist/js/pages/dashboards/dashboard1.js"></script> -->
    <!-- Charts js Files -->
    <script src="../../assets/libs/flot/excanvas.js"></script>
    <script src="../../assets/libs/flot/jquery.flot.js"></script>
    <script src="../../assets/libs/flot/jquery.flot.pie.js"></script>
    <script src="../../assets/libs/flot/jquery.flot.time.js"></script>
    <script src="../../assets/libs/flot/jquery.flot.stack.js"></script>
    <script src="../../assets/libs/flot/jquery.flot.crosshair.js"></script>
    <script src="../../assets/libs/flot.tooltip/js/jquery.flot.tooltip.min.js"></script>
    <script src="../../dist/js/pages/chart/chart-page-init.js"></script>

</body>

</html>