<body style="background-color:#955251; font-family: 'Dosis', sans-serif;"  onload="typeWriter()">
  
    <nav class="navbar navbar-expand-md  sticky-top">
        <div class="container-fluid">
           
                <img src="../images/cvImage.png" width="70px">
         
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mynav">
               </button>
            <div class="collapse navbar-collapse" id="mynav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/cv/portfolio" >HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link now" href="about" >ABOUT ME</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="projects">PROJECTS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="skills">SKILLS</a>
                    </li>
              
                    <li class="nav-item">
                        <a class="nav-link" href="">CONTACT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="font-weight: bold;"
                         href="">Serbian</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
   <hr style="  border-top: 1px dashed white;">