<%- include ('../partials/top') %> 
<%- include ('../partials/navbar') %> 
<div class="box1">
    
    <p>Hello! My name is Jovica and I enjoy creating things that live on the web. My interest in web development started back in 2019 when I decided to try change background Google Chrome in inspect
        element, that paved the way for me to HTML & CSS and JavaScript! My main focus these days is building accessible, inclusive products and digital experiences with new technologies.
        In parallel with these jobs, I am involved in developing an application for m-banking in a huge corporation.
        The technologies I use most often are:
        <ul>
            <li>NODE.JS</li>
            <li>JAVASCRIPT</li>
            <li>jQUERY</li>
            <li>KNOCKOUT</li>
            <li>REACT</li>
            <li>...</li>
        </ul>
        
    </p>

</div>

</body>
</html>